body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    overflow-x: hidden;
}

.header {
    padding: 20px;
    background-color: #1c1c1c;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #ffffff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.school-logo {
    padding-left: 20px;
    width: 50px;
    height: 50px;
  }
.logo {
  left: 100%;
  margin: 0;
  padding: 0;
}

.card {
    background-color: #1f1f1f;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    background-color: #423434 ;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 80%;
    height:270px;
}

.damn {
    color: #c3d0df;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.card-content p {
    padding-bottom: 30px;
    margin: 0;
    font-size: 1rem;
}

.card-content .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    width: 80%;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.card-content .btn2 {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    width: 80%;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}


.card-content .btn:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,204,0,1) 0%, rgba(255,165,0,1) 100%);
    color: #fff;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideDown 0.5s ease-out;
}

.notification-message {
    flex-grow: 1;
    font-size: 18px;
    margin-right: 10px;
}

.notification-close {
    padding-right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.notification-close:hover {
    color: #ddd;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.diss {
    opacity: 0.5;
    pointer-events: none;
}

.locked {
    filter: brightness(0.5);
    pointer-events: none;
}

#boody{
    pointer-events: none;
    opacity: 0.5;
}