<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events | NexGenesis '24</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles4.css') }}">
</head>
<body>
    {% if text: %}
        <div class="notification" id="notification">
            <span class="notification-message">You have successfully completed the quiz challenge!</span>
            <button class="notification-close" onclick="closeNotification()">×</button>
            <script>
                function closeNotification() {
                var notification = document.getElementById('notification');
                notification.style.display = 'none';
                }
            </script>
        </div>
    {% endif %}
    <div class="header">
        <h1>Events</h1>
    </div>

    <div class="cards-container">
        

        

        <div class="card">
            <h2 class="damn"><center>Quiz competition</center></h2>
            <img src="{{ url_for('static', filename='images/image_processing20200225-18103-o71767.gif') }}" alt="Event 3">
            <div class="card-content">
                
                <p><center>In this challenge,you can prove your knowledge in Biology,chemistry,mathematics and IT to the all participants.</center></p>
                <center><a href="/quiz" class="btn">Start</a></center>
            </div>
        </div>

        
    </div>
</body>
</html>