<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events | NexGenesis '24</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles4.css') }}">
</head>
<body>
    {% if text: %}
        <div class="notification" id="notification">
            <span class="notification-message">You have successfully completed the quiz challenge!</span>
            <button class="notification-close" onclick="closeNotification()">×</button>
            <script>
                function closeNotification() {
                var notification = document.getElementById('notification');
                notification.style.display = 'none';
                }
                document.getElementById('round2').classList.add('diss')
            </script>
        </div>
    {% endif %}
    <div class="header">
        <h1>Final Battle</h1>
    </div>

    <div class="cards-container">
        



        <div class="card" id="round1">
            <h2 class="damn"><center>Round 1</center></h2>
            <center><img src="{{ url_for('static', filename='images/Intro-HELLO-FUTURE-1920x1080_v2.gif') }}" alt="Event 1"></center>
            <div class="card-content">
                
                <p><center>In this challenge,you can prove your knowledge in Biology,chemistry,mathematics and IT to the all participants.</center></p>
                <center><a href="/subject" class="btn">Start</a></center>
            </div>
        </div>


        

        <div class="card" id="round2">
            <h2 class="damn"><center>Round 2</center></h2>
            <center><img src="{{ url_for('static', filename='images/image_processing20200225-18103-o71767.gif') }}" alt="Event 2"></center>
            <div class="card-content">
                
                <p><center>In this challenge,you can prove your knowledge in Biology,chemistry,mathematics and IT to the all participants.</center></p>
                <center><a href="/join_quiz" class="btn2">Start</a></center>
            </div>
        </div>


        <script src="{{ url_for('static', filename='js/script5.js') }}"></script>

        
    </div>
</body>
</html>