<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | TechVerse 2k24</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles1.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="timer"></div>
    <div id="countdown">Time Remaining: 0:10</div>

    <div class="content">
        <div class="quiz-container">
            <form action="quiz" method="post">
                <button type="submit" id="newButton">{{ button }}</button>
                <div>
                    <h4 class="question-name">{{ qnum }}: {{ gather[index]['question'] }}</h4>
                    <div id="answers">
                        {% for answer in gather[index]['options'] %}
                        <label class="label-box">
                            <div>
                                <input type="radio" id="option_{{ loop.index }}" name="q{{ index }}" value="{{ answer }}" class="radio">
                                <span class="custom-label" id="opinion_{{ loop.index }}">{{ answer }}</span>
                            </div>
                        </label><br>
                        {% endfor %}
                    </div>        
            </form>
                </div>
            <div class="buzz-button" id="buzzButton">Buzz</div>
        </div>
        <canvas id="canvas"></canvas>
    </div>

    <script src="{{ url_for('static', filename='js/script3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script1.js') }}"></script>
</body>
</html>